@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

:root {
  --primary-color: #4062BB;
  --secondary-color: #59C3C3;
  --font-family: 'Ysabeau SC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--primary-color);
}

p {
  font-family: var(--font-family);
  color: var(--primary-color);
}

.hero h1 {
  color: var(--primary-color);
}

section h2 {
  color: var(--secondary-color);
}

footer a {
  text-decoration: none;
}

body {
  max-width: 900px; 
  margin: 0 auto; 
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.hero h1 {
    position: absolute;
    top: -10%;
    left: 20%;
  }
  
  .hero article {
    position: absolute;
    top: 1125%;
    left: 50%;
    z-index: 2;
  }
  .hero h2 {
    position: absolute;
    top: 200%;
    left: 50%;
    z-index: 2;
  }
   
