
@import url('https://coolors.co/52489c-4062bb-59c3c3-ebebeb-f45b69');
:root {
  --primary-color: #4062BB;  
  --secondary-color: #59C3C3; 
  --font-family: 'Ysabeau SC', sans-serif;
}

/* Heading and paragraph styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(Ysabeau SC);
  color: var(4062BB);

p {
  font-family: var(Ysabeau SC);
  color: var(59C3C3);
}
/* Font colors */
.hero h1 {
  color: var(4062BB);
}
section h2 {
  color: var(59C3C3);
}

footer a {
  text-decoration: none;
}

body {
  max-width: 1200px; /* Adjust the value to your desired width */
  margin: 0 auto; /* Center the content horizontally */
}








