@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

:root {
  --primary-color: #4062BB;
  --secondary-color: #59C3C3;
  --background-color: #9ac0cd;
  --font-family: 'Ysabeau SC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--secondary-color);
}

p {
  font-family: var(--font-family);
  color: var(--primary-color);
}

footer a {
  text-decoration: none;
}
body {
  max-width: 900px; 
  margin: 0 auto; 
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero h1 {
    position: absolute;
  }
  .hero article {
    position: absolute;
  }
  .hero h2 {
    position: absolute;
    top: 200%;
    left: 50%;
    z-index: 2;
  }
   
